.row,
.column {
  box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}
 
.row:after {
  clear: both;
}

.column {
  position: relative;
  float: left;
}

.column + .column {
  margin-left: 1.6%;
}

.column-1 {
  width: 6.86666666667%;
}
 
.column-2 {
  width: 15.3333333333%;
}
 
.column-3 {
  width: 23.8%;
}
 
.column-4 {
  width: 32.2666666667%;
}
 
.column-5 {
  width: 40.7333333333%;
}
 
.column-6 {
  width: 49.2%;
}
 
.column-7 {
  width: 57.6666666667%;
}
 
.column-8 {
  width: 66.1333333333%;
}
 
.column-9 {
  width: 74.6%;
}
 
.column-10 {
  width: 83.0666666667%;
}
 
.column-11 {
  width: 91.5333333333%;
}
 
.column-12 {
  width: 100%;
}

@media only screen and (min-width: 550px) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    width: auto;
    float: none;
  }
 
  .column + .column {
    margin-left: 0;
  }
}

@font-face {
    font-family: Pacifico;
    src: url(../font/Pacifico.ttf);
}

@font-face {
    font-family: HelveticaNeueLTStd-Cn;
    src: url(../font/HelveticaNeueLTStd-Cn.otf);
}

@font-face {
    font-family: HelveticaNeueLTStd-ThCn;
    src: url(../font/HelveticaNeueLTStd-ThCn.otf);
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'HelveticaNeueLTStd-Cn', sans-serif;
	background: url(../img/fundo.png);
	background-size: 30px 30px;
	background-repeat: repeat;
}

/* página index.html */

header#home-cabecalho > div#home-banner {
	width: 100vw;
	height: 40vh;
	background: url(../img/home/cabecalho/banner/img3.jpg);
	background-position: center;
	background-size: cover;
	border-bottom-left-radius: 70% 70%;
	border-bottom-right-radius: 70% 70%;
	box-shadow: 0px 10px white;
}

header#home-cabecalho > div#home-logo {
	text-align: center;
	margin-top: -200px;
}

header#home-cabecalho > div#home-logo img {
	width: auto;
	height: 400px;
}

section#home-conteudo {
	text-align: center;
}

section#home-conteudo span {
	font-family: 'Pacifico', sans-serif;
	font-size: 300%;
	color: white;
	text-shadow: 5px 5px black;
}

section#home-conteudo form {
	
	padding: 20px;
}

section#home-conteudo form input[type="text"] {
	margin-right: 0;
	font-size: 120%;
	border-color: white;
	border-radius: 10px 0 0 10px;
	padding: 5px;
	color: red;
}

section#home-conteudo form input[type="submit"] {
	margin-left: -4px;
	font-size: 120%;
	font-weight: bold;
	border-color: yellow;
	border-radius: 0 10px 10px 0;
	background-color: yellow;
	color: red;
	padding: 5px;
}

/* página monte-sua-massa.html */

header#geral-cabecalho {
  width: 100vw;
  height: auto;
}

header#geral-cabecalho > div#geral-cabecalho-menu {
  width: 100vw;
  height: 50px;
  line-height: 50px;
  background: yellow;
  margin-top: 90px;
  box-shadow: 0 5px black;
}

header#geral-cabecalho > div#geral-cabecalho-menu i {
  font-size: 200%;
}

header#geral-cabecalho > div#geral-cabecalho-menu span {
  font-size: 120%;
}

header#geral-cabecalho > div#geral-cabecalho-menu a {
  color: red;
  text-decoration: none;
}

header#geral-cabecalho > div#geral-cabecalho-menu > div#geral-cabecalho-menu-esquerdo {
  margin-left: 20px;
  display: inline-block;
}

header#geral-cabecalho > div#geral-cabecalho-menu > div#geral-cabecalho-menu-direito {
  margin-right: 20px;
  float:right;
}

header#geral-cabecalho > div#geral-cabecalho-logo {
  width: 200px;
  height: auto;
  margin-top: -125px;
  margin-left: -100px;
  position: relative;
  top: 0;
  left: 50vw;
}

header#geral-cabecalho > div#geral-cabecalho-logo img {
  height: auto;
  width: 200px;
}

header#geral-cabecalho > section#geral-cabecalho-conteudo {
  text-align: center;
}

header#geral-cabecalho > section#geral-cabecalho-conteudo span {
  font-family: 'Pacifico', sans-serif;
  font-size: 300%;
  color: white;
  text-shadow: 5px 5px black;
}