@font-face {
    font-family: Pacifico;
    src: url(../font/Pacifico.ttf);
}

@font-face {
    font-family: HelveticaNeueLTStd-Cn;
    src: url(../font/HelveticaNeueLTStd-Cn.otf);
}

@font-face {
    font-family: HelveticaNeueLTStd-ThCn;
    src: url(../font/HelveticaNeueLTStd-ThCn.otf);
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'HelveticaNeueLTStd-Cn', sans-serif;
	background: url(../img/fundo.png);
	background-size: 30px 30px;
	background-repeat: repeat;
}

/* página index.html */

header#home-cabecalho > div#home-banner {
	width: 100vw;
	height: 40vh;
	background: url(../img/home/cabecalho/banner/img3.jpg);
	background-position: center;
	background-size: cover;
	border-bottom-left-radius: 70% 70%;
	border-bottom-right-radius: 70% 70%;
	box-shadow: 0px 10px white;
}

header#home-cabecalho > div#home-logo {
	text-align: center;
	margin-top: -200px;
}

header#home-cabecalho > div#home-logo img {
	width: auto;
	height: 400px;
}

section#home-conteudo {
	text-align: center;
}

section#home-conteudo span {
	font-family: 'Pacifico', sans-serif;
	font-size: 300%;
	color: white;
}

section#home-conteudo form {
	
	padding: 20px;
}

section#home-conteudo form input[type="text"] {
	margin-right: 0;
	font-size: 120%;
	border-color: white;
	border-radius: 10px 0 0 10px;
	padding: 5px;
	color: #81131B;
}

section#home-conteudo form input[type="submit"] {
	margin-left: -4px;
	font-size: 120%;
	font-weight: bold;
	border-color: #F6AB40;
	border-radius: 0 10px 10px 0;
	background-color: #F6AB40;
	color: #81131B;
	padding: 5px;
}

/* estilos comuns */

header#geral-cabecalho {
  width: 100vw;
  height: auto;
}

header#geral-cabecalho > div#geral-cabecalho-menu {
  width: 100vw;
  height: 50px;
  line-height: 50px;
  background: #F6AB40;
  margin-top: 90px;
  box-shadow: 0 5px black;
}

header#geral-cabecalho > div#geral-cabecalho-menu i {
  font-size: 200%;
}

header#geral-cabecalho > div#geral-cabecalho-menu span {
  font-size: 120%;
  font-weight: bold;
}

header#geral-cabecalho > div#geral-cabecalho-menu a {
  color: #81131B;
  text-decoration: none;
  transition: linear 1s all;
}

header#geral-cabecalho > div#geral-cabecalho-menu a:hover {
  text-shadow: 0 1px white;
  transition: linear 1s all;
}

header#geral-cabecalho > div#geral-cabecalho-menu > div#geral-cabecalho-menu-esquerdo {
  margin-left: 20px;
  display: inline-block;
}

header#geral-cabecalho > div#geral-cabecalho-menu > div#geral-cabecalho-menu-direito {
  margin-right: 20px;
  float:right;
}

header#geral-cabecalho > div#geral-cabecalho-logo {
  width: 200px;
  height: auto;
  margin-top: -125px;
  margin-left: -100px;
  position: relative;
  top: 0;
  left: 50vw;
}

header#geral-cabecalho > div#geral-cabecalho-logo img {
  height: auto;
  width: 200px;
}

header#geral-cabecalho > section#geral-cabecalho-conteudo {
  text-align: center;
  padding-bottom: 20px; 
}

header#geral-cabecalho > section#geral-cabecalho-conteudo span {
  font-family: 'Pacifico', sans-serif;
  font-size: 300%;
  color: white;
}

footer#geral-rodape {
  background: #F6AB40;
  color: #81131B;
  padding: 5px 0;
  margin-top: 20px;
}

footer#geral-rodape > div#geral-rodape-conteudo {
  text-align: center;
}

footer#geral-rodape > div#geral-rodape-conteudo a {
  text-decoration: none;
}

footer#geral-rodape > div#geral-rodape-conteudo img {
  width: 20px;
  height: auto;
}

/* Fim dos estilos comuns */

/* Estilos da montagem de massa */

section#montar-prato {
	text-align: center;
}

section#montar-prato > div#montar-prato-opcoes {
	font-size: 120%;
}

section#montar-prato > div#montar-prato-opcoes a {
	text-decoration: none;
}

section#montar-prato > div#montar-prato-opcoes span {
	padding: 5px;
	background: none;
	color: white;
	font-weight: bold;
	border-radius: none;
	transition: linear 1s all;
}

section#montar-prato > div#montar-prato-opcoes span:hover {
	color: #F6AB40;
	transition: linear 1s all;
}

section#montar-prato > div#montar-prato-opcoes span.selecionado {
	padding-left: 10px;
	padding-right: 10px;
	background: #F6AB40;
	color: #81131B;
	font-weight: bold;
	border-radius: 20px 20px 0 0;
}

section#montar-prato > div#montar-prato-opcoes span.selecionado:hover {
	text-shadow: 0 1px white;
  	transition: linear 1s all;
}

section#montar-prato > div#montar-prato-opcoes-selecionadas {
	font-size: 100%;
	background: #F6AB40;
	color: white;
	padding: 5px;
}

section#montar-prato > div#montar-prato-opcoes-selecionadas > div.opcao-do-meio {
	border-left: 2px solid #81131B;
	border-right: 2px solid #81131B;
}

section#montar-prato > div#montar-prato-opcoes-selecionadas span {
	padding: 5px 0;
	background: none;
	color: white;
	font-weight: none;
	border-radius: none;
}

section#montar-prato > section#montar-prato-itens-da-opcao {
	padding: 10px 0;
	background: white;
}

section#montar-prato > section#montar-prato-itens-da-opcao a {
	text-decoration: none;
}

section#montar-prato > section#montar-prato-itens-da-opcao img {
	width: 100%;
	height: auto;
	opacity: .9;
}

section#montar-prato > section#montar-prato-itens-da-opcao img:hover {
	opacity: 1;
}

section#montar-prato > section#montar-prato-itens-da-opcao span {
	font-size: 120%;
	color: #81131B;
	font-weight: bold;
}

/* Fim dos estilos da montagem de massa */